@charset "utf-8";

html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
}

body{
	color: white;
	background-color: black;
	font-family: Arial, Helvetica, sans-serif;	
}	

a:link {color:#FF0000;}      /* unvisited link */
a:visited {color:#FF0000;}  /* visited link */
a:hover {color:#FF0000;}  /* mouse over link */
a:active {color:#FF0000;}  /* selected link */


.centerer {
	text-align: center;
}

#game {
	font-size: 16px;
	background-color: #000;
	display: inline-block;
}

.chat{
	background-color: white;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	display: inline-block;
	width: 200px;
	height: 400px;
    vertical-align: top;
}

#chatBox{
	border: 1px solid #000;
	width: 100%;
	height: 335px;
	text-align: left;
	overflow-y: scroll;
	overflow-x: hidden;
}

#txtChatText{
	width: 196px;
	height: 60px;
}


table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
	text-align: center;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

#vkeyb {
}

#vkeyb td{
	background-color: blue;
	color: white;
	text-align: center;
	padding: 2px;
	margin: 2px;
	border: 2px;
	width: 100px;
	height: 50px;
	cursor: pointer;	
}

