@charset "utf-8";

body{
	color: white;
	background-color: black;
}

.centerer {
	text-align: center;
}

#game {
	font-size: 16px;
	background-color: #000;
	display: inline-block;
}

.chat{
	background-color: white;
	color: black;
	font-family: Verdana Arial sans-serif;
	display: inline-block;
	width: 200px;
	height: 400px;
    vertical-align: top;
}

#chatBox{
	border: 1px solid #000;
	width: 100%;
	height: 335px;
	text-align: left;
	overflow-y: scroll;
	overflow-x: hidden;
}

#txtChatText{
	width: 196px;
	height: 60px;
}
